* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #34495e; }

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #34495e; }

a:focus {
  opacity: .5; }

.list-reset {
  padding-left: 0;
  margin: 0;
  list-style: none; }

.cleaner {
  margin: 0; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

img {
  width: 100%;
  height: auto; }

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* */ }

.header__row-btn {
  display: none; }

.header__btn {
  width: 20px;
  height: 14px;
  background-image: url(../images/btn-burger.png);
  background-repeate: no-repeate;
  background-position: center center;
  background-size: cover;
  right: 0;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
  vertical-align: super;
  position: absolute;
  right: 20px;
  cursor: pointer;
  -webkit-transition: background-image 1s;
  transition: background-image 1s; }

.header__row {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
  -webkit-transition-delay: .8s;
  transition-delay: .8s; }

.header__logo {
  display: inline-block;
  width: 25%; }
  .header__logo img:first-child {
    display: none; }

.header-scroll {
  position: fixed;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
  background-color: #fff;
  z-index: 110000; }
  .header-scroll .header__logo img:first-child {
    display: block; }
  .header-scroll .header__logo img:last-child {
    display: none; }
  .header-scroll .header__btn {
    cursor: pointer;
    -webkit-transition: background-image 1s;
    transition: background-image 1s;
    background-image: url(../images/btn-burger-green.png); }

.header__btn-cross {
  background-image: url(../images/btn-cross.png);
  -webkit-transition: background-image 1s;
  transition: background-image 1s; }

.header-scroll .header__btn-cross {
  background-image: url(../images/btn-cross.png);
  -webkit-transition: background-image 1s;
  transition: background-image 1s; }

.header__nav {
  text-align: center;
  height: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  left: 0;
  top: 77px;
  background-color: #FFF;
  z-index: 99999;
  -webkit-transition: height .8s;
  transition: height .8s; }

.header__list li {
  text-align: center;
  margin-bottom: 40px; }
  .header__list li a {
    text-decoration: none;
    color: #34495e;
    font-size: 16px;
    font-weight: 700; }

.header__list li:nth-child(4) {
  display: none; }

.header__btn-joinUs h3, .header__btn-language h3 {
  display: inline-block;
  padding: 12px 10px;
  font-size: 14px;
  border-radius: 7px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer; }

.header__btn-rotate:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s;
  transition: all 1s; }

.header__btn-joinUs h3 {
  color: #ffffff;
  background-color: #24d000;
  font-weight: 600; }

.header__btn-joinUs h3:after {
  content: '';
  background-image: url(../images/white-arrow.png);
  background-repeate: no-repeate;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  height: 9px;
  width: 14px;
  margin-left: 5px; }

.header__list-joinUs {
  display: none;
  border: 1px solid #34495e;
  border-radius: 7px;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .header__list-joinUs a {
    color: #24d000; }
  .header__list-joinUs li:first-child {
    margin-bottom: 30px; }
  .header__list-joinUs li:last-child {
    margin-bottom: 0; }

.header__btn-language {
  padding-bottom: 20px; }
  .header__btn-language h3 {
    color: #24d000;
    font-weight: 600; }
  .header__btn-language h3:after {
    content: '';
    background-image: url(../images/green-arrow.png);
    background-repeate: no-repeate;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    height: 9px;
    width: 14px;
    margin-left: 5px; }

.header__list-language {
  display: none;
  border: 1px solid #34495e;
  border-radius: 7px;
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left; }

.joinUs-dropdown {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: #fff;
  padding: 30px 10px; }

.language-dropdown {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  z-index: 9;
  background-color: #fff; }
  .language-dropdown li {
    margin-bottom: 20px; }

.header__row-open {
  background-color: #fff;
  margin-bottom: 50px;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
  -webkit-transition-delay: .8s;
  transition-delay: .8s; }
  .header__row-open .header__logo img:first-child {
    display: block; }
  .header__row-open .header__logo img:last-child {
    display: none; }

.header__nav-open {
  height: 530px;
  padding-top: 0px;
  -webkit-transition: height .8s;
  transition: height .8s; }

/* */
.header__banner {
  background-image: url(../images/background-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 30px; }
  .header__banner h1 {
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    -webkit-text-decoration-color: #24d000;
    text-decoration-color: #24d000;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 30px; }

.header__banner-btn {
  display: inline-block;
  width: 31%;
  margin: 0 15px; }

/* */
.assortment {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px; }

.assortment__product h2 {
  font-size: 24px;
  margin-bottom: 20px; }

.assortment__list li {
  margin-bottom: 16px; }
  .assortment__list li a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #34495e;
    text-decoration: none; }
    .assortment__list li a span {
      border-bottom: 2px dotted #24d000;
      padding-bottom: 10px;
      -ms-flex-item-align: center;
      align-self: center;
      margin: 0 15px;
      font-size: 12px;
      font-weight: 500;
      display: inline-block; }

.assortment__list li:last-child {
  margin-bottom: 30px; }
  .assortment__list li:last-child span {
    padding-bottom: 0;
    border-bottom: 0; }

.assortment__list-arrow {
  -ms-flex-item-align: center;
  align-self: center;
  width: 10%; }

.assortment__list-img {
  width: 10%; }

.fleet {
  color: #24d000;
  text-decoration: none;
  margin-bottom: 50px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600; }
  .fleet .assortment__list-arrow {
    display: inline-block;
    width: 20%;
    vertical-align: middle; }

.video {
  width: 100%;
  height: 315px; }

.howUse__banner-second {
  padding: 0 65px; }

.howUse__instruction {
  padding: 50px 20px; }
  .howUse__instruction h2 {
    font-size: 24px;
    margin-bottom: 40px; }

.howUse__list {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px; }
  .howUse__list li {
    padding: 16px 0;
    font-size: 11px; }
    .howUse__list li span:first-child {
      border: 2px solid #24d000;
      border-radius: 50%;
      padding: 0 4px;
      margin-right: 16px; }
  .howUse__list li:first-child span:first-child {
    padding: 0 5px; }

.howUse__learnMore {
  text-decoration: none;
  color: #24d000;
  font-size: 16px;
  font-weight: 600; }
  .howUse__learnMore .howUse__learnMore-arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    width: 10%; }

.franchise__main {
  background-color: #56566d;
  background-image: url(../images/world-map.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  padding: 50px 20px; }
  .franchise__main h2 {
    color: #fff;
    margin-bottom: 30px; }

.franchise__text {
  color: #fff;
  margin-bottom: 20px; }

.franchise__ancor {
  text-decoration: none;
  color: #27cb04;
  font-weight: 500;
  display: block; }

.franchise__ancor-city {
  margin-bottom: 20px; }

.franchise__ancor-arrow {
  display: inline-block;
  width: 11%;
  vertical-align: middle; }

.franchise__ancor-arrow {
  display: inline-block;
  width: 11%;
  vertical-align: middle; }

.franchise__box {
  padding: 50px 20px 120px 20px;
  background-image: url(../images/backround_safety.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain; }
  .franchise__box h2 {
    font-size: 24px;
    margin-bottom: 40px; }

.franchise__list {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px; }
  .franchise__list li {
    padding: 16px 0;
    font-size: 11px; }
    .franchise__list li span:first-child {
      border: 2px solid #24d000;
      border-radius: 50%;
      padding: 0 4px;
      margin-right: 16px; }
  .franchise__list li:first-child span:first-child {
    padding: 0 5px; }

.franchise__footer {
  text-align: center;
  padding: 20px; }

.franchise__logo-green {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.franchise__btn {
  display: inline-block;
  width: 22%;
  margin: 0 15px; }

/* */
.footer {
  background-color: #f6f6f6;
  text-align: center; }

.footer__socials {
  margin-bottom: 30px; }
  .footer__socials h3 {
    font-size: 16px;
    color: #96969a;
    margin-bottom: 20px; }

.footer__list {
  margin-bottom: 50px; }
  .footer__list li {
    display: inline-block; }
    .footer__list li a {
      color: #444a57;
      text-decoration: none;
      font-size: 21px;
      margin: 0 8px; }

.footer__list-vertical li {
  display: block;
  margin-bottom: 15px; }

.footer__nav h2 {
  font-size: 16px;
  color: #96969a;
  margin-bottom: 20px; }

.footer__language {
  position: relative; }
  .footer__language h3 {
    font-weight: 600;
    display: inline-block;
    padding: 12px 10px;
    font-size: 14px;
    radius: 7px;
    margin-bottom: 10px; }
  .footer__language h3:after {
    content: '';
    background-image: url(../images/black-arrow.png);
    background-repeate: no-repeate;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    height: 9px;
    width: 14px;
    margin-left: 5px; }

.footer__list-language {
  display: none;
  border: 1px solid #34495e;
  border-radius: 7px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative; }
  .footer__list-language li {
    text-align: left; }
    .footer__list-language li a {
      text-decoration: none;
      color: #34495e;
      font-size: 14px;
      font-weight: 500; }

.footer__language-rotate:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s;
  transition: all 1s; }

.footer__list-dropdown {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: -315px;
  z-index: 9;
  background-color: #fff; }
  .footer__list-dropdown li {
    margin-bottom: 20px; }

.footer__accreditive {
  width: 20%;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 480px) {
  .container {
    max-width: 736px; }
  .header__nav {
    top: 100px; }
  .header__banner {
    padding-bottom: 100px; }
  .header__banner-btn {
    width: 20%; }
  .assortment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .product__commercial {
    -ms-flex-item-align: stretch;
    align-self: stretch; }
  .video {
    width: 100%;
    height: 100%; }
  .howUse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .howUse__banner-first {
    width: 100%; }
  .howUse__banner-second {
    width: 50%;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .howUse__instruction {
    width: 50%; }
  .franchise {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .franchise__main {
    width: 100%;
    background-size: 50%;
    padding: 100px 20px; }
  .franchise__video {
    width: 50%; }
  .franchise__box {
    width: 50%; }
  .franchise__video {
    -ms-flex-item-align: stretch;
    align-self: stretch; }
  .franchise__footer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
  .franchise__logo-green {
    width: 20%;
    margin: 0; }
  .franchise__btn {
    width: 15%; }
  .franchise__btn-right {
    margin-left: auto; }
  .footer__accreditive {
    width: 10%; }
  .footer {
    padding-top: 20px; } }

@media (min-width: 736px) {
  .container {
    max-width: 1200px;
    padding: 0 15px; }
  .header__logo {
    display: none; }
  .header__btn {
    display: none; }
  .header__row {
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1170px; }
  .header__nav {
    width: 100%;
    position: unset;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .header__list li {
      margin: 0 10px; }
      .header__list li a {
        font-size: 10px; }
    .header__list li:nth-child(4) {
      display: block;
      width: 15%; }
  .header__btn-joinUs h3 {
    margin: 0;
    margin-right: 10px; }
  .header__btn-language {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
    padding: 0; }
    .header__btn-language h3 {
      margin-bottom: 0; }
  .header__list-language {
    margin-left: 0;
    left: 15px;
    top: 55px; }
  .header__list-joinUs {
    margin-right: 0;
    right: 15px; }
  .assortment {
    padding: 0; }
  .assortment__product {
    width: 40%;
    padding: 15px; }
  .product__commercial {
    width: 60%; }
  .howUse__instruction {
    padding: 0 20px; }
  .footer__insider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 150px; }
  .footer__socials {
    margin-right: auto; }
  .footer__nav {
    text-align: left;
    margin-right: 40px; }
  .footer__list-vertical li a {
    margin: 0;
    font-size: 14px; }
  .footer__language {
    margin-right: 30px; }
    .footer__language h3 {
      padding-top: 0; }
  .footer__list-dropdown {
    right: 90px;
    top: -90px;
    width: 130px;
    left: unset; }
  .footer__language-rotate:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .footer__accreditive {
    width: 60%; }
  .header-scroll {
    position: fixed;
    padding-left: 15px;
    padding-right: 20px; }
    .header-scroll .header__nav {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
  .header-scroll .header__list {
    display: none; }
  .header-scroll .header__btn-language {
    display: none; }
  .header-scroll .header__row-btn {
    display: block;
    width: 10%;
    margin-right: 15px; }
  .header__logo-scroll {
    display: inline-block;
    width: 15%; }
    .header__logo-scroll .header__list {
      display: none; }
  .header__row-btn-left {
    margin-left: auto; }
  .header__btn-joinUs h3, .header__btn-language h3 {
    font-size: 10px; }
  .franchise__ancor-arrow {
    width: 5%; } }
